@font-face{
  font-family: 'Sukhumvit Set';
  src: url("./asset/font/SukhumvitSet-Text-03.ttf");
}

@font-face{
  font-family: 'Sukhumvit Set Semi';
  src: url("./asset/font/SukhumvitSet-SemiBold-05.ttf");
}

@font-face{
  font-family: 'Sukhumvit Set Bold';
  src: url("./asset/font/SukhumvitSet-SemiBold-05.ttf");
}

body {
  margin: 0;
  font-family: "Sukhumvit Set"
}